<html ng-app="app">

<head>
    <title>Categorías</title>
    <script type="text/javascript" src="public/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="public/lib/angular/angular.js"></script>
    <script type="text/javascript" src="public/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="public/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="public/script/categorias.js"></script>
    <script type="text/javascript" src="public/script/categorias.popup.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="public/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/general.css">
    <link rel="stylesheet" type="text/css" href="public/css/categorias.css">

    <script type="text/javascript">
        $(document).ready(function() {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>
</head>

<body ng-controller="cuerpo">
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2><b>Categorías</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal" data-backdrop="static" ng-click="creaCat()"><i class="material-icons">&#xE147;</i> <span>Añadir categoría</span></a>		
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in datos | orderBy: 'nombre'">
                        <td ng-click="irCat(row.nombre, row._id, row.id)">{{row.nombre}}</td>
                        <td>
                            <a href="#addEmployeeModal" class="edit" data-toggle="modal" data-backdrop="static"><i class="material-icons" data-toggle="tooltip" ng-click="editCat(row.nombre, row._id)" title="Edit">&#xE254;</i></a>
                            <a href="#modalBorrar" class="delete" data-toggle="modal" data-backdrop="static" ng-click="setCatID(row.nombre, row._id)"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr> 
                </tbody>
            </table>
			<div class="clearfix">
                <div class="hint-text">Mostrando <b>1</b> de <b>1</b> entradas</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Anterior</a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item disabled"><a href="#" class="page-link">Siguiente</a></li>
                </ul>
            </div>
        </div>
    </div>
	<!-- Create/Update Modal -->
	<div id="addEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">{{accion.texto}} categoría</h4>
						<button type="button" class="close" data-dismiss="modal" ng-click="cancela_accion()" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Nombre</label>
							<input type="text" class="form-control" ng-model="nuevo.nombre" value="" required>
						</div>				
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancela_accion()" value="Cancelar">
						<input type="submit" class="btn btn-success" data-dismiss="modal" ng-click="accion_cat()" value="{{accion.texto}}">
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- Delete Modal -->
	<div id="modalBorrar" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Borrar categorías</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>¿Estás segur@ de querer borrar la categoría <b>{{categoria.nombre}}</b>?</p>
						<p class="text-warning"><small>Esta acción no puede ser revertida</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-danger" data-dismiss="modal" ng-click="borra_cat()" value="Eliminar">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>